//Global mixin styles

@mixin flex_center($val: "row") {
  @if $val == "column" {
    flex-direction: column;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipse_text() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin fixed_center() {
  margin: "auto";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
