//Global css variable value
$primary_bg: #2f5597;
$primary_bg_light: #7088c6;
$light_bg: #d5e8ff;
$second_bg: #eaedf2;
$orange_bg: #fad899;
$orange_bg_dark: #e9875e;

$primary_text: #2f5597;
$gray_text: #949292;
$dark_text: #2b2350;

$shadow: 0 0 5px #aaa0a0;

$padding_lg: 180px;
$padding_md: 120px;
$padding_sm: 50px;
$padding_xs: 20px;

$border_radius: 5px;
