//Global css variable value
$primary_bg: #2F5597;
$light_bg: #D5E8FF;
$second_bg: #eaedf2;

$primary_text: #2F5597;
$gray_text: #949292;

$shadow: 0 0 5px #aaa0a0;

$padding_lg:180px;
$padding_md:120px;
$padding_sm:60px;
$padding_xs:30px;