//Global css variable value
$primary_bg: #2F5597;
$light_bg: #D5E8FF;
$second_bg: #EAEAEB;

$primary_text: #2b1a44;
$gray_text: #a19f9f;

$shadow: 0 0 5px #aaa0a0;

$font_rg: 14px;
$font_sm: $font_rg - 2px;
$font_md: $font_rg + 2px;
$font_bg: $font_rg + 4px;
